

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(1, 153, 255);
    border-radius: 4px;
    box-sizing: border-box;
  }
  

table{
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}
td,th{
  border:1px solid  rgb(0, 0, 0);
  padding: 10px;
}
  

  